<div class="container">
  <img src="../assets/undraw_chore_list_iof3.svg" alt="" srcset="" id="logo" />
  <h6>Todo List..</h6>
</div>
<br />
<hr />
<div>
  <br />
  <h6 class="pop">Add a Todo....</h6>
  <div class="orient">
    <input type="text" [(ngModel)]="todoValue" class="input-text" placeholder="add a todo"

    (keyup.enter)="addItem()"
    />
    
    <button id="a"  (click)="addItem()">
        Add
    </button>
  </div>
  <!-- <hr id = "one"> -->
  <div   class="oriento">
    <ul>
     
      <li *ngFor="let item of list">
        <!-- (click)="deleteItem()" -->
        <div @fade id="lp">
        {{item.value}}
          <div id="pl">
  
        <button   id="c" (click)="deleteItem(item.id)">Cancel</button>
        <button id="d"(click)="deleteItem(item.id)" >Done</button>
              </div>
                    </div>
      </li>
    </ul>
  </div>
</div>
